body {
  background: rgb(31, 30, 37);
}
.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-direction: row;
}
.card {
  background: #181818;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  width: 33.33%;
  min-height: 400px;
}
@media screen and (max-width: 768px) {
  .card {
    width: 100%; /* Take full width on small screens */
  }
  .container {
    flex-direction: column;
  }
  .profile {
    margin-left: 0; /* Remove margin on small screens */
  }
}

.bg {
  object-fit: contain;
}
.bg img {
  border-radius: 20px;
  height: 100px;
  width: 100%;
}
.profile {
  transform: translateY(-50%);
  margin-left: 20px;
}
.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: #181818 solid 5px;
}
.info {
  margin-top: -70px;
}
.title {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.title img {
  width: 25px;
  height: 25px;
}
.title h2 {
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}
.desc {
  margin: 20px;
  color: #d9d9d9;
  font-size: 18px;
}
